.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  margin-top: 40px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.canvas-controls,
.brush-controls {
  margin-top: 20px;
}

.brush-controls label {
  font-size: 16px;
  margin-bottom: 10px;
}

.brush-sizes {
  display: flex;
  justify-content: center;
}

.brush-sizes button {
  font-size: 20px;
  padding: 5px 10px;
  margin: 2px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 50%; /* Make the buttons circular */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.brush-sizes button:hover {
  background-color: #1be425;
}

.brush-sizes button:active {
  transform: translateY(1px);
  /* Add additional styling to make the active state more visible */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Example: Add a subtle shadow */
}

